body{
    margin-top: $mobile-nav-height  !important;
    @include breakpoint ( dk ){
	   margin-top: 0 !important;
    }
}

// Border-box all the way!
*{
    box-sizing: border-box;
    -webkit-appearance: none;
}

// Backgrounds
.bg-1{
	background-color: $color-1;
}
.bg-2{
    background-color: $color-2;
}

.bg-white{
	background-color: white;
}
.bg-g1{
    background-color: $grey-1;
}
.bg-g2{
    background-color: $grey-2;
}
.bg-g3{
    background-color: $grey-3;
}


// Font colors
.color-1{
    color: $color-1;
}
.color-2{
    color: $color-2;
}

.color-g1{
    color: $grey-1;
}
.color-g2{
    color: $grey-2;
}
.color-g3{
    color: $grey-3;
}
.color-g{
    color: $grey-text;
}
.color-white{
    color: white;
}

.uk-padding-bottom-normal{
    padding-bottom: 50px !important; 
}

// Text padding
.text-padding{
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint( tb ){
        padding-left: 25px;
        padding-right: 25px;
    }
}

.small-padding{
    padding-top: 20px;
    padding-bottom: 20px;
    @include breakpoint( tb ){
        padding-top: 25px;
        padding-bottom: 25px;
    }
}


// Class for overlay
.overlay{
    position: relative;
    z-index: 1;
    transition: all .25s ease-in-out;
    &:before{
        z-index: -1;
        content: '';        
        position: absolute;
        transition: all .25s ease-in-out;
        display: block;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;    
    }
}

.dark-overlay{
    &:before{
        background: rgba(0,0,0,.4);
    }
}

.overlay-1{
    &:before{
        background: rgba(11,60,93, .6);   
    }
    // &:hover:before{
    //     background: rgba(68, 132, 206, .6);   
    // }  
}
.overlay-2{
    &:before{
        background: rgba($color-2-rgb, .6);   
    }
    // &:hover:before{
    //     background: rgba(68, 132, 206, .6);   
    // }  
}

.big-submit{ 
    position: relative;
    top: 24px;
}

.shadow {
    box-shadow: 0 0 6px #333;
}

.shadow-below {
    box-shadow: 0 1px 6px #333;
}

.shadow-above {
    box-shadow: 0 -1px 6px #333;
}

.overlay-1-hover{
    &:before{
        background: rgba($color-1, .6);   
    }
    &:hover:before{
        background: rgba($color-2, .6);   
    }
}

.overlay-1-light{
    &:before{
        background: rgba($color-1-rgb, .3);   
    }
    // &:hover:before{
    //     background: rgba(68, 132, 206, .85);   
    // }
}

.overlay-1-dark{
    &:before{
        background: rgba($color-1, .85);   
    }
    // &:hover:before{
    //     background: rgba(68, 132, 206, .85);   
    // }
}

.center-divider{
    height: 3px; width: 80px; margin: 15px auto;
}

.bg-hover-1{
    transition: background-color .15s ease-in-out;    
    &:hover{
        background: $color-2 !important;
    }
}

.giant-padding{ 
    padding: 75px 0;
    @include breakpoint( tb ){
        padding: 175px 0;
    }
}

.overflow-hidden{
    overflow: hidden;
}

.home-scale{
    transition: all .15s ease-in-out;
    &:before{
         transition: background-color .15s ease-in-out;
        }
    &:hover{ 
        transform: scale(1.1);
        &:before{
            background: rgba($color-2, .6);   
        }
    }
}

.dash-left{
    border-left: 2px solid $color-1;
    padding-left: 20px;
}

.heading-padding{
    padding-top: 150px;
    padding-bottom: 50px;
}

/* Margin Stuff */
.uk-margin-bottom{ margin-bottom: 15px; }
.uk-margin-top{ margin-top: 15px; }
.uk-margin-left{ margin-left: 15px; }
.uk-margin-right{ margin-right: 15px; }

.uk-margin-large-bottom{ margin-bottom: 50px; }
.uk-margin-large-top{ margin-top: 50px; }
.uk-margin-large-left{ margin-left: 50px; }
.uk-margin-large-right{ margin-right: 50px; }

.uk-margin-medium-bottom{ margin-bottom: 25px; }
.uk-margin-medium-top{ margin-top: 25px; }
.uk-margin-medium-left{ margin-left: 25px; }
.uk-margin-medium-right{ margin-right: 25px; }

.uk-grid-small {
    margin-left: -15px;
}
.uk-grid-medium {
    margin-left: -25px;
}

.uk-grid-large {
    margin-left: -50px;
}

.uk-grid-small>* {
    padding-left: 15px;
}
.uk-grid-medium>* {
    padding-left: 25px;
}
.uk-grid-large>* {
    padding-left: 50px;
}


.uk-block-large{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint( tb ){
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.uk-block-medium{
    padding-top: 15px;
    padding-bottom: 15px;
    @include breakpoint( tb ){
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.uk-block-extra-large{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint( tb ){
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
.uk-block-big-large{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint( tb ){
        padding-top: 125px;
        padding-bottom: 125px;
    }
}

.z-front{
    z-index: 1;
    position: relative;
}

.uk-tab li.uk-active a.treatment-tab, .uk-tab li:hover a.treatment-tab{  color: #444 !important; } 
a.treatment-tab{ color: white !important; }

.bottom-fixed{
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
}

.uk-modal {
    z-index: 101011111;
}
.video-container{
    &:before{
    content: '';
    background-image: url(/imperium/wp-content/uploads/2017/11/bg_pattern.png);
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    }
}
