@media only screen and (min-width: 1169) {
    #offcanvastoggle {
        display: none;
    }
}
@media only screen and (max-width: 1168px) {
    header {
        border-bottom: none!important;
        .wrapper {
            .nav {
                display: none; 
            }
            .cta {
                position: fixed;
                right: 60px;
                width: 49%;
                text-align: right;
            }
            .brand {
                position: fixed;
                left: 20px;
                margin-top: -30px;
            }
        }
        #offcanvastoggle {
            display: block;
            position: fixed;
            right: 20px;
            top: 37px;
            i {
                font-size: 24px;
            }
        }
    }
    header.scrolled {
        min-height: 80px;
        .wrapper {
            .brand { 
                position: fixed; 
                left: 20px;
                margin-top: 0;
            }
            .nav {
                margin-top: 25px;
            } 
        }
        #offcanvastoggle { 
            top: 23px; 
            i {
                color: #fff;
            }
            &:hover {
                i {
                    color: $color-2;
                }
            }
        }
    }
    #home-bg__body {
        .single-block {
            .inner-container {
                a.big-btn {
                    font-size: 14px; 
                }
            }
        }
    }

}

@media only screen and (max-width: 1060px) { 
    main, div.content.row { 
        margin-top: -80px;
    }
    #home-bg__body {
        .single-block {
            .inner-container { 
                a.big-btn { 
                    font-size: 11px; 
                }
            }
        }
    }
    #fold {
        .uk-block-large {   
            .gridl {
                .left-block {
                    padding-top: 50px;
                    padding-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) { 
    header {
        .wrapper {
            .brand {
                a {
                    .logo-color {
                        display: none;
                    }
                    .logo-color-mobile {
                        display: block!important;
                        max-width: 50px;
                        position: fixed;
                        top: 10px;
                        left: 10px;
                    }
                }
            }
            .cta {
                display: fixed;
                left: 50%;
                max-width: 240px;
                margin-left: -120px;
            }
        }
    }
    header.scrolled {
        .wrapper {
            .brand { 
                a {
                    .logo-color, .logo-white, .logo-color-mobile {
                        display: none!important;
                    }
                    .logo-white-mobile {
                        display: block!important;
                        max-width: 50px;
                        position: fixed;
                        top: 10px;
                        left: 10px;
                    }
                }
            }
            .cta {
                display: fixed;
                left: 50%;
                max-width: 240px;
                margin-left: -120px;
            }
        }
    }
}

@media only screen and (max-width: 424px) {
    header.banner {
        .wrapper {
            .cta {
                width: 100%;
                text-align: center;
            }
        }
    }
}