<div class='progress-msg'>Tue, 02 Oct 2018 22:02:55 +0000</div>
<div class='progress-msg'>[22:02:55] Composing titles...</div>
<div class='progress-msg'>[22:02:55] Composing excerpts...</div>
<div class='progress-msg'>[22:02:55] Composing duplicate indicators...</div>
<div class='progress-msg'>[22:02:55] Composing authors...</div>
<div class='progress-msg'>[22:02:55] Composing slugs...</div>
<div class='progress-msg'>[22:02:55] Composing menu order...</div>
<div class='progress-msg'>[22:02:55] Composing contents...</div>
<div class='progress-msg'>[22:02:55] Composing dates...</div>
<div class='progress-msg'>[22:02:55] Composing URLs for images...</div>
<div class='progress-msg'>[22:02:55] Composing URLs for attachments files...</div>
<div class='progress-msg'>[22:02:55] Composing unique keys...</div>
<div class='progress-msg'>[22:02:55] Processing posts...</div>
<div class='progress-msg'>[22:02:55] Data parsing via add-ons...</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #1</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Alaska`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Alaska`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Alaska`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Alaska`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Alaska` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Alaska` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Alaska` `State` (ID: 66958)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #2</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Arizona`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Arizona`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Arizona`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Arizona`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Arizona` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Arizona` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Arizona` `State` (ID: 66959)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #3</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Arkansas`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Arkansas`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Arkansas`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Arkansas`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Arkansas` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Arkansas` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Arkansas` `State` (ID: 66960)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #4</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `California`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `California`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `California`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `California`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `California` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `California` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `California` `State` (ID: 66961)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #5</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Colorado`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Colorado`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Colorado`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Colorado`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Colorado` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Colorado` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Colorado` `State` (ID: 66962)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #6</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Connecticut`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Connecticut`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Connecticut`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Connecticut`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Connecticut` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Connecticut` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Connecticut` `State` (ID: 66963)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #7</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Delaware`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Delaware`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Delaware`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Delaware`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Delaware` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Delaware` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Delaware` `State` (ID: 66964)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #8</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Florida`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Florida`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Florida`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Florida`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Florida` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Florida` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Florida` `State` (ID: 66965)</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:55] ---</div>
<div class='progress-msg'>[22:02:55] Record #9</div>
<div class='progress-msg'>[22:02:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:55] Combine all data for post `Georgia`...</div>
<div class='progress-msg'>[22:02:55] Find corresponding article among previously imported for post `Georgia`...</div>
<div class='progress-msg'>[22:02:55] Duplicate post wasn't found with unique key `Georgia`...</div>
<div class='progress-msg'>[22:02:55] Applying filter `pmxi_article_data` for `Georgia`</div>
<div class='progress-msg'>[22:02:55] <b>CREATING</b> `Georgia` `State`</div>
<div class='progress-msg'>[22:02:55] Associate post `Georgia` with current import ...</div>
<div class='progress-msg'>[22:02:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:55] <b>CREATED</b> `Georgia` `State` (ID: 66966)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #10</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Hawaii`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Hawaii`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Hawaii`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Hawaii`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Hawaii` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Hawaii` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Hawaii` `State` (ID: 66967)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #11</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Idaho`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Idaho`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Idaho`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Idaho`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Idaho` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Idaho` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Idaho` `State` (ID: 66968)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #12</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Illinois`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Illinois`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Illinois`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Illinois`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Illinois` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Illinois` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Illinois` `State` (ID: 66969)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #13</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Indiana`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Indiana`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Indiana`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Indiana`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Indiana` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Indiana` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Indiana` `State` (ID: 66970)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #14</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Iowa`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Iowa`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Iowa`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Iowa`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Iowa` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Iowa` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Iowa` `State` (ID: 66971)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #15</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Kansas`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Kansas`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Kansas`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Kansas`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Kansas` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Kansas` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Kansas` `State` (ID: 66972)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #16</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Kentucky`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Kentucky`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Kentucky`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Kentucky`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Kentucky` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Kentucky` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Kentucky` `State` (ID: 66973)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #17</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Louisiana`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Louisiana`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Louisiana`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Louisiana`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Louisiana` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Louisiana` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Louisiana` `State` (ID: 66974)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #18</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Maine`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Maine`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Maine`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Maine`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Maine` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Maine` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Maine` `State` (ID: 66975)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #19</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Maryland`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Maryland`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Maryland`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Maryland`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Maryland` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Maryland` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Maryland` `State` (ID: 66976)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #20</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Massachusetts`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Massachusetts`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Massachusetts`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Massachusetts`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Massachusetts` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Massachusetts` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Massachusetts` `State` (ID: 66977)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #21</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Michigan`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Michigan`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Michigan`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Michigan`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Michigan` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Michigan` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Michigan` `State` (ID: 66978)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #22</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Minnesota`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Minnesota`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Minnesota`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Minnesota`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Minnesota` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Minnesota` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Minnesota` `State` (ID: 66979)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #23</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Mississippi`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Mississippi`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Mississippi`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Mississippi`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Mississippi` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Mississippi` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Mississippi` `State` (ID: 66980)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #24</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Missouri`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Missouri`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Missouri`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Missouri`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Missouri` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Missouri` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Missouri` `State` (ID: 66981)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #25</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Montana`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Montana`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Montana`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Montana`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Montana` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Montana` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Montana` `State` (ID: 66982)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #26</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Nebraska`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Nebraska`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Nebraska`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Nebraska`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Nebraska` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Nebraska` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Nebraska` `State` (ID: 66983)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #27</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Nevada`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Nevada`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Nevada`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Nevada`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Nevada` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Nevada` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Nevada` `State` (ID: 66984)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #28</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `New Hampshire`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `New Hampshire`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `New Hampshire`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `New Hampshire`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `New Hampshire` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `New Hampshire` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `New Hampshire` `State` (ID: 66985)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #29</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `New Jersey`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `New Jersey`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `New Jersey`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `New Jersey`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `New Jersey` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `New Jersey` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `New Jersey` `State` (ID: 66986)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #30</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `New Mexico`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `New Mexico`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `New Mexico`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `New Mexico`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `New Mexico` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `New Mexico` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `New Mexico` `State` (ID: 66987)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #31</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `New York`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `New York`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `New York`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `New York`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `New York` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `New York` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `New York` `State` (ID: 66988)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #32</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `North Carolina`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `North Carolina`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `North Carolina`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `North Carolina`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `North Carolina` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `North Carolina` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `North Carolina` `State` (ID: 66989)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #33</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `North Dakota`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `North Dakota`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `North Dakota`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `North Dakota`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `North Dakota` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `North Dakota` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `North Dakota` `State` (ID: 66990)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #34</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Ohio`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Ohio`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Ohio`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Ohio`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Ohio` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Ohio` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Ohio` `State` (ID: 66991)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #35</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Oklahoma`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Oklahoma`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Oklahoma`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Oklahoma`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Oklahoma` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Oklahoma` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Oklahoma` `State` (ID: 66992)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #36</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Oregon`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Oregon`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Oregon`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Oregon`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Oregon` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Oregon` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Oregon` `State` (ID: 66993)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #37</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Pennsylvania`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Pennsylvania`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Pennsylvania`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Pennsylvania`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Pennsylvania` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Pennsylvania` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Pennsylvania` `State` (ID: 66994)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #38</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `Rhode Island`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `Rhode Island`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `Rhode Island`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `Rhode Island`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `Rhode Island` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `Rhode Island` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `Rhode Island` `State` (ID: 66995)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #39</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `South Carolina`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `South Carolina`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `South Carolina`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `South Carolina`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `South Carolina` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `South Carolina` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `South Carolina` `State` (ID: 66996)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:56] ---</div>
<div class='progress-msg'>[22:02:56] Record #40</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:56] Combine all data for post `South Dakota`...</div>
<div class='progress-msg'>[22:02:56] Find corresponding article among previously imported for post `South Dakota`...</div>
<div class='progress-msg'>[22:02:56] Duplicate post wasn't found with unique key `South Dakota`...</div>
<div class='progress-msg'>[22:02:56] Applying filter `pmxi_article_data` for `South Dakota`</div>
<div class='progress-msg'>[22:02:56] <b>CREATING</b> `South Dakota` `State`</div>
<div class='progress-msg'>[22:02:56] Associate post `South Dakota` with current import ...</div>
<div class='progress-msg'>[22:02:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:56] <b>CREATED</b> `South Dakota` `State` (ID: 66997)</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #41</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Tennessee`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Tennessee`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Tennessee`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Tennessee`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Tennessee` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Tennessee` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Tennessee` `State` (ID: 66998)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #42</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Texas`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Texas`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Texas`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Texas`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Texas` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Texas` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Texas` `State` (ID: 66999)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #43</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Utah`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Utah`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Utah`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Utah`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Utah` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Utah` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Utah` `State` (ID: 67000)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #44</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Vermont`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Vermont`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Vermont`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Vermont`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Vermont` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Vermont` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Vermont` `State` (ID: 67001)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #45</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Virginia`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Virginia`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Virginia`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Virginia`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Virginia` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Virginia` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Virginia` `State` (ID: 67002)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #46</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Washington`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Washington`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Washington`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Washington`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Washington` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Washington` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Washington` `State` (ID: 67003)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #47</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `West Virginia`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `West Virginia`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `West Virginia`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `West Virginia`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `West Virginia` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `West Virginia` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `West Virginia` `State` (ID: 67004)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #48</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Wisconsin`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Wisconsin`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Wisconsin`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Wisconsin`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Wisconsin` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Wisconsin` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Wisconsin` `State` (ID: 67005)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] ---</div>
<div class='progress-msg'>[22:02:57] Record #49</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[22:02:57] Combine all data for post `Wyoming`...</div>
<div class='progress-msg'>[22:02:57] Find corresponding article among previously imported for post `Wyoming`...</div>
<div class='progress-msg'>[22:02:57] Duplicate post wasn't found with unique key `Wyoming`...</div>
<div class='progress-msg'>[22:02:57] Applying filter `pmxi_article_data` for `Wyoming`</div>
<div class='progress-msg'>[22:02:57] <b>CREATING</b> `Wyoming` `State`</div>
<div class='progress-msg'>[22:02:57] Associate post `Wyoming` with current import ...</div>
<div class='progress-msg'>[22:02:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[22:02:57] <b>CREATED</b> `Wyoming` `State` (ID: 67006)</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[22:02:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[22:02:57] Cleaning temporary data...</div>
