<div class='progress-msg'>Wed, 19 Sep 2018 00:37:29 +0000</div>
<div class='progress-msg'>[00:37:29] Composing titles...</div>
<div class='progress-msg'>[00:37:29] Composing excerpts...</div>
<div class='progress-msg'>[00:37:29] Composing duplicate indicators...</div>
<div class='progress-msg'>[00:37:29] Composing authors...</div>
<div class='progress-msg'>[00:37:29] Composing slugs...</div>
<div class='progress-msg'>[00:37:29] Composing menu order...</div>
<div class='progress-msg'>[00:37:29] Composing contents...</div>
<div class='progress-msg'>[00:37:29] Composing dates...</div>
<div class='progress-msg'>[00:37:29] Composing URLs for images...</div>
<div class='progress-msg'>[00:37:29] Composing URLs for attachments files...</div>
<div class='progress-msg'>[00:37:29] Composing unique keys...</div>
<div class='progress-msg'>[00:37:29] Processing posts...</div>
<div class='progress-msg'>[00:37:29] Data parsing via add-ons...</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #1</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Alabama`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Alabama`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `alabama`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Alabama`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Alabama` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Alabama` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Alabama` `State` (ID: 7523)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #2</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Alaska`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Alaska`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `alaska`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Alaska`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Alaska` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Alaska` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Alaska` `State` (ID: 7524)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #3</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Arizona`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Arizona`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `arizona`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Arizona`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Arizona` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Arizona` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Arizona` `State` (ID: 7525)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #4</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Arkansas`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Arkansas`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `arkansas`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Arkansas`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Arkansas` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Arkansas` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Arkansas` `State` (ID: 7526)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #5</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `California`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `California`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `california`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `California`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `California` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `California` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `California` `State` (ID: 7527)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #6</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Colorado`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Colorado`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `colorado`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Colorado`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Colorado` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Colorado` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Colorado` `State` (ID: 7528)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #7</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Connecticut`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Connecticut`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `connecticut`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Connecticut`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Connecticut` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Connecticut` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Connecticut` `State` (ID: 7529)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #8</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Delaware`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Delaware`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `delaware`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Delaware`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Delaware` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Delaware` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Delaware` `State` (ID: 7530)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #9</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Florida`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Florida`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `florida`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Florida`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Florida` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Florida` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Florida` `State` (ID: 7531)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #10</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Georgia`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Georgia`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `georgia`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Georgia`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Georgia` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Georgia` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Georgia` `State` (ID: 7532)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #11</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Hawaii`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Hawaii`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `hawaii`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Hawaii`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Hawaii` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Hawaii` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Hawaii` `State` (ID: 7533)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #12</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Idaho`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Idaho`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `idaho`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Idaho`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Idaho` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Idaho` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Idaho` `State` (ID: 7534)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #13</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Illinois`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Illinois`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `illinois`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Illinois`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Illinois` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Illinois` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Illinois` `State` (ID: 7535)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #14</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Indiana`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Indiana`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `indiana`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Indiana`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Indiana` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Indiana` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Indiana` `State` (ID: 7536)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #15</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Iowa`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Iowa`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `iowa`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Iowa`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Iowa` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Iowa` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Iowa` `State` (ID: 7537)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #16</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Kansas`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Kansas`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `kansas`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Kansas`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Kansas` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Kansas` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Kansas` `State` (ID: 7538)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #17</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Kentucky`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Kentucky`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `kentucky`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Kentucky`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Kentucky` `State`</div>
<div class='progress-msg'>[00:37:29] Associate post `Kentucky` with current import ...</div>
<div class='progress-msg'>[00:37:29] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:29] <b>CREATED</b> `Kentucky` `State` (ID: 7539)</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:29] ---</div>
<div class='progress-msg'>[00:37:29] Record #18</div>
<div class='progress-msg'>[00:37:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:29] Combine all data for post `Louisiana`...</div>
<div class='progress-msg'>[00:37:29] Find corresponding article among previously imported for post `Louisiana`...</div>
<div class='progress-msg'>[00:37:29] Duplicate post wasn't found with unique key `louisiana`...</div>
<div class='progress-msg'>[00:37:29] Applying filter `pmxi_article_data` for `Louisiana`</div>
<div class='progress-msg'>[00:37:29] <b>CREATING</b> `Louisiana` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Louisiana` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Louisiana` `State` (ID: 7540)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #19</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Maine`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Maine`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `maine`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Maine`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Maine` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Maine` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Maine` `State` (ID: 7541)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #20</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Maryland`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Maryland`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `maryland`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Maryland`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Maryland` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Maryland` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Maryland` `State` (ID: 7542)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #21</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Massachusetts`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Massachusetts`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `massachusetts`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Massachusetts`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Massachusetts` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Massachusetts` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Massachusetts` `State` (ID: 7543)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #22</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Michigan`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Michigan`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `michigan`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Michigan`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Michigan` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Michigan` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Michigan` `State` (ID: 7544)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #23</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Minnesota`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Minnesota`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `minnesota`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Minnesota`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Minnesota` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Minnesota` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Minnesota` `State` (ID: 7545)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #24</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Mississippi`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Mississippi`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `mississippi`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Mississippi`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Mississippi` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Mississippi` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Mississippi` `State` (ID: 7546)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #25</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Missouri`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Missouri`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `missouri`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Missouri`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Missouri` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Missouri` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Missouri` `State` (ID: 7547)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #26</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Montana`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Montana`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `montana`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Montana`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Montana` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Montana` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Montana` `State` (ID: 7548)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #27</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Nebraska`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Nebraska`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `nebraska`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Nebraska`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Nebraska` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Nebraska` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Nebraska` `State` (ID: 7549)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #28</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Nevada`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Nevada`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `nevada`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Nevada`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Nevada` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Nevada` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Nevada` `State` (ID: 7550)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #29</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `New Hampshire`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `New Hampshire`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `new-hampshire`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `New Hampshire`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `New Hampshire` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `New Hampshire` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `New Hampshire` `State` (ID: 7551)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #30</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `New Jersey`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `New Jersey`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `new-jersey`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `New Jersey`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `New Jersey` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `New Jersey` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `New Jersey` `State` (ID: 7552)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #31</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `New Mexico`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `New Mexico`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `new-mexico`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `New Mexico`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `New Mexico` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `New Mexico` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `New Mexico` `State` (ID: 7553)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #32</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `New York`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `New York`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `new-york`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `New York`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `New York` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `New York` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `New York` `State` (ID: 7554)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #33</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `North Carolina`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `North Carolina`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `north-carolina`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `North Carolina`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `North Carolina` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `North Carolina` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `North Carolina` `State` (ID: 7555)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #34</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `North Dakota`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `North Dakota`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `north-dakota`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `North Dakota`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `North Dakota` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `North Dakota` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `North Dakota` `State` (ID: 7556)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #35</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Ohio`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Ohio`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `ohio`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Ohio`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Ohio` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Ohio` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Ohio` `State` (ID: 7557)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #36</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Oklahoma`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Oklahoma`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `oklahoma`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Oklahoma`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Oklahoma` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Oklahoma` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Oklahoma` `State` (ID: 7558)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #37</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Oregon`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Oregon`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `oregon`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Oregon`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Oregon` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Oregon` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Oregon` `State` (ID: 7559)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #38</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Pennsylvania`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Pennsylvania`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `pennsylvania`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Pennsylvania`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Pennsylvania` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Pennsylvania` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Pennsylvania` `State` (ID: 7560)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #39</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Rhode Island`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Rhode Island`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `rhode-island`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Rhode Island`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Rhode Island` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Rhode Island` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Rhode Island` `State` (ID: 7561)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #40</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `South Carolina`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `South Carolina`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `south-carolina`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `South Carolina`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `South Carolina` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `South Carolina` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `South Carolina` `State` (ID: 7562)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #41</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `South Dakota`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `South Dakota`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `south-dakota`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `South Dakota`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `South Dakota` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `South Dakota` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `South Dakota` `State` (ID: 7563)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #42</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Tennessee`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Tennessee`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `tennessee`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Tennessee`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Tennessee` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Tennessee` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Tennessee` `State` (ID: 7564)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #43</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Texas`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Texas`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `texas`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Texas`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Texas` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Texas` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Texas` `State` (ID: 7565)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #44</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Utah`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Utah`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `utah`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Utah`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Utah` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Utah` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Utah` `State` (ID: 7566)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #45</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Vermont`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Vermont`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `vermont`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Vermont`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Vermont` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Vermont` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Vermont` `State` (ID: 7567)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #46</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Virginia`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Virginia`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `virginia`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Virginia`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Virginia` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Virginia` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Virginia` `State` (ID: 7568)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #47</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Washington`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Washington`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `washington`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Washington`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Washington` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Washington` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Washington` `State` (ID: 7569)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #48</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `West Virginia`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `West Virginia`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `west-virginia`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `West Virginia`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `West Virginia` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `West Virginia` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `West Virginia` `State` (ID: 7570)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #49</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Wisconsin`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Wisconsin`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `wisconsin`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Wisconsin`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Wisconsin` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Wisconsin` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Wisconsin` `State` (ID: 7571)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] ---</div>
<div class='progress-msg'>[00:37:30] Record #50</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[00:37:30] Combine all data for post `Wyoming`...</div>
<div class='progress-msg'>[00:37:30] Find corresponding article among previously imported for post `Wyoming`...</div>
<div class='progress-msg'>[00:37:30] Duplicate post wasn't found with unique key `wyoming`...</div>
<div class='progress-msg'>[00:37:30] Applying filter `pmxi_article_data` for `Wyoming`</div>
<div class='progress-msg'>[00:37:30] <b>CREATING</b> `Wyoming` `State`</div>
<div class='progress-msg'>[00:37:30] Associate post `Wyoming` with current import ...</div>
<div class='progress-msg'>[00:37:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[00:37:30] <b>CREATED</b> `Wyoming` `State` (ID: 7572)</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[00:37:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[00:37:30] Cleaning temporary data...</div>
