#footer-missing {
    padding-bottom: 150px;
}

#footer-overlaybox {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 40px;
    z-index: 10;
    margin-top: -105px;
    .container {
        h2 {
            margin-bottom: 30px;
        }
    }
}

#footer {
    margin-top: -105px;
    padding-top: 50px;
    #logo-container {
        margin-top: 100px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        img {
            max-width: 350px;
        }
    }
    #bottom-footer {
        padding: 10px;
        .uk-text-left {
            img {
                max-width: 200px;
            }
        }
        .uk-text-right {
            a {
                padding: 10px;
                i {
                    color: #fff;
                    font-size: 30px;
                    margin-top: 15px;
                    transition: .25s all ease-in-out;
                }
                &:hover {
                    i {
                        color: $color-2;
                    }
                }
            }
        }
    }
}