header.banner {
    max-height: 100px;
    z-index: 100;
    position: fixed;
    transition: .25s all ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $grey-2;
    .wrapper {
        max-width: 1500px;
        margin: 0 auto;
        padding: 10px 20px;
        .brand {
            a {
                img.logo-color { 
                    max-width: 275px;
                }
                img.logo-white {
                    display: none;
                }
                img.logo-white-mobile {
                    display: none;
                }
                img.logo-color-mobile {
                    display: none;
                }
            }
        }
        .nav {
            padding-top: 25px;
            ul {
                padding-right: 0;
                li {
                    display: inline-block;
                    padding: 0 15px;
                    a {
                        color: #fff;
                        font-size: 18px;
                        transition: .25s all ease-in-out;
                    }
                    &:hover {
                        a {
                            color: $color-2;
                        }
                    }
                }
            }
        }
        .cta {
            #nav-cta-text {
                display: block;
                color: $color-1;
                padding-right: 2px;
                padding-bottom: 5px;
                font-size: 16px;
            }
            
        }
    }
}

header#header.banner.scrolled {
    max-height: 80px;
    background: $color-1;
    border-bottom: none;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.15);
    .wrapper {
        padding: 5px 20px;
        .brand {
            a {
                img.logo-white {
                    max-width: 225px;
                    display: block;
                }
                img.logo-color {
                    display: none;
                }
            }
        }
        .nav { 
            padding-top: 15px;
        }
        .cta {
            text-align: center;
            #nav-cta-text {
                display: block;
                color: #fff;
            }
        }
    }
}

.uk-offcanvas-bar-flip {
    height: 100vh;
    max-width: 600px;
    text-align: center;
    img {
        max-width: 90%;
        margin: 20px auto;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            padding: 15px 0;
            a {
                color: #fff;
                font-size: 18px;
            }
            &:hover {
                a {
                    color: $color-2;
                }
            }
        }
    }
    span {
        display: block;
    }
    a.big-btn {
        display: block;
        max-width: 90%;
        margin: 10px auto;
    }
}