/* HOME PAGE */

#fold {
    min-height: 90vh;
    div {
        .gridl {
            .left-block {
                padding-top: 200px;
                padding-right: 100px;
                h1 {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                h3 {
                    margin-bottom: 15px;
                }
                a {
                    display: inline-block;
                    position: relative;
                    margin-bottom: -15px;
                }
            }
            .right-block {
                padding-top: 85px;
                .wrapper {
                    border-radius: 40px;
                    background: rgba($color-1-rgb, 0.85);
                    // border-top: 10px solid white;
                    padding-bottom: 10px;
                    .right-header {
                        padding-top: 10px;
                        padding-bottom: 2px;
                        border-bottom: 1px solid white;
                    }
                    .right-body {
                        padding: 15px 0;
                    }
                    .right-footer {
                        border-top: 1px solid white;
                        padding: 15px 0;
                        span {
                            display: block;
                            padding-bottom: 15px;
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

#home-text {
    .uk-grid {
        .left-block {
            h2 { 
                margin-bottom: 10px;
            }
            h3 {
                margin-top: 0;
            }
        }
        .right-block { 
            img {
                max-width: 90%;
            }
        }
    }
}

#home-first {
    padding-bottom: 50px;
    .gridl {
        #home-first__body {
            .uk-width-1-1 {
                a {
                    .single-item {
                        border-radius: 40px;
                        overflow: hidden;
                        min-height: 400px;
                        max-width: 90%;
                        margin: 10px auto;
                        div {
                            max-width: 320px;
                            margin: auto;
                            border-bottom-right-radius: 25px;
                            border-bottom-left-radius: 25px;
                        }
                    }
                }
            }
        }
    }
}

#home-map {
    .gridl {
        #home-map__header {
            z-index: 1000;
            h2 {
                margin-bottom: 10px;
            }
            h4 {
                margin-top: 0;
            }
        }
        #home-map__mapcontainer {
            padding-left: 35px;
        }
    }
}

#home-cta {
    .gridl {
        .cta {
            a {
                display: inline-block;
                margin-top: 20px;
            }
        }
    }
}

#home-bg {
    .gridl {
        #home-bg__header {
            padding-bottom: 20px;
        }
        #home-bg__body {
            .single-block {
                
                .inner-container {
                    border-radius: 40px;
                    background: rgba(255,255,255,0.75);
                    padding: 10px 20px;
                    max-width: 90%;
                    margin: 10px auto;
                    padding-bottom: 25px;
                }
            }
        }
    }
}

/* FULL WIDTH FLEX */
 
#left-image-text, #right-image-text { 
    padding: 100px;
}

#fullflex-fold {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: -50px;
}

#fullflex-cta {
    .gridl {
        .uk-text-right {
            a {
                display: inline-block;
                margin-top: 30px;
            }
        }
    }
}

/* FIND A MOVER PAGE */

#find-fold {
    padding-top: 200px;
    padding-bottom: 175px; 
    margin-top: -50px;
}

#find-map {
    .gridl {
        p {
            margin-bottom: 0;
        }
    }
}

#find-cta {
    .gridl {
        .cta {
            a {
                display: inline-block;
                margin-top: 20px;
            }
        }
    }
}

#find-text {
    .uk-grid {
        .left-block {
            h2 { 
                margin-bottom: 10px;
            }
            h3 {
                margin-top: 0;
            }
        }
        .right-block {
            img {
                max-width: 550px;
            }
        }
    }
}

#find-states {
    margin-bottom: -40px;
    .gridl {
        .wrapper {
            background: rgba(255,255,255,0.45);
            border-radius: 40px;
            padding-top: 20px;
            padding-bottom: 30px;
            .uk-grid {
                .uk-width-medium-1-5 {
                    a {
                        color: $color-1;
                        font-size: 18px;
                        font-weight: 600;
                        &:hover {
                            color: $color-2;
                        }
                    }
                }
            }
        }
    }
}

#find-editor-bottom {
    margin-bottom: -50px;
}

/* SINGLE STATE */ 

body.single-state > div > div > div > div > div > main > div.padding-small {
    margin-bottom: -25px;
}

#state-cta {
    background-image: url('/mlocal/wp-content/uploads/2018/09/inflicted.png');
    background-position: 50% 50%;
    background-repeat: repeat;
    .uk-block {
        .gridm {
            border-radius: 40px;
            overflow: hidden;
            .left-block {
                padding-bottom: 0px;
            }
            .right-block { 
                padding-bottom: 0px;
                #browsecity {
                    margin-top: 40px;
                    .abar-title {
                        margin-bottom: 0!important;
                        h3 {
                            margin-bottom: 0;
                        }
                    }
                    #letters {
                        .abar {
                            a, span {
                                padding: 2px 4px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            #bottom-cta {
                padding: 5px 40px;
                width: 110%;
                margin-left: -20px;
                h3 {
                    margin-top: 5px;
                    display: inline-block;
                }
                a {
                    display: inline-block;
                }
            }
        }
    }
}

#letterdir {
    margin-top: -50px;
}

.letter {
    font-size: 30px;
    font-weight: 600;
}

.single-letter {
    padding: 25px 0;
}

.background-0 {
    
}

.background-1 {
    background: $grey-1;
}

/* SINGLE CITY */ 


.listings-grid-container {
    margin-bottom: 15px;
    .listings-container {
        max-width: 90%;
        padding: 5px 10px;
        // border-radius: 25px;
        margin: 0 auto;
        background: white;
        border-top: 6px solid $color-1;
    }
}
.spinner-content-wrapper { 
    padding: 30px;
}
.spinner-content {
    padding: 20px 40px;
    max-width: 97%; 
    border: 3px solid $color-1;
    background: white;
}

#city-bottom-content { 
    background: url('/mlocal/wp-content/uploads/2018/09/inflicted.png');
    background-repeat: repeat;
    margin-bottom: -40px;
    padding-bottom: 40px;
}

#city-cta {
    margin: 30px auto;
}

#city-cta-wrapper {
    margin: 20px auto;
    max-width: 90%;
    .uk-text-right {
        a {
            margin-top: 20px;
            display: inline-block;
        }
    }
}

#close-cities {
    border-top: 6px solid $color-1;
    margin-left: 15px;
    margin-right: 15px;
    div.text-padding {
        div.closest-cities-grid { 
            div.bottom-margin {
                a {
                    padding: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

/* LISTING PAGE */ 

body.single-listing { 
    background-image: url('/mlocal/wp-content/uploads/2018/09/inflicted.png'); background-repeat: repeat; 
    background-position: 50% 50%;
    header.banner {
        .nav {
            ul {
                li {
                    a {
                        color: $color-1;
                    }
                    &:hover {
                        a {
                            color: $color-2;
                        }
                    }
                }
            }
        }
    }
    header.banner.scrolled {
        .nav {
            ul {
                li {
                    a {
                        color: #fff;
                    }
                    &:hover {
                        a {
                            color: $color-2;
                        }
                    }
                }
            }
        }
    }
}

#moving-tip {
    h4 {
        margin-bottom: 0;
    }
    h2 {
        margin-top: 10px;
    }
}

.listing-under-block {
    margin-bottom: -30px;
    .gridl {
        #home-bg__body {
            .single-block {
                .inner-container {
                    border-radius: 0!important;
                }
            }
        }
    }
}

.single-listing-container {
    overflow: hidden;
    .single-listing-header {
        width: 100%;
        padding: 15px 0;
    }
    .single-listing-body {
        height: 500px;
        .uk-grid {
            #details {
                height: 100%;
                .listing {
                    height: 500px;
                    margin-right: 1px;
                    .detail-row {
                        height: 25%;
                        p {
                            padding: 10px 20px;
                            strong {
                                font-size: 18px;
                            }
                        }
                    }
                    .white-row {
                        background: #fff;
                    }
                    .grey-row {
                        background: $grey-1; 
                    }
                }
            }
        }
    }
}

#listing-cta { 
    padding: 30px 40px;
    margin-top: -75px;
}


// SPLASH PAGE
#splash-main-section {
    margin-top: -80px;
}